<!doctype html>

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>CarMod</title>
    <meta name="description" content="CarMod">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CarMod is the easiest way to share photos with your friends. Get the app and share your fun photos with the world." />
    <meta name="keywords" content="backend, mobile, development, server, code, photo sharing, photos" />
    <meta property="fb:app_id" content="231265150320768" /> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/underscore-min-1.3.3.js"></script>
    <script type="text/javascript" src="js/backbone-min-0.9.2.js"></script>
    <script type="text/javascript" src="https://www.parsecdn.com/js/parse-1.0.12.min.js"></script>

    <script type="text/javascript" src="js/anypic.js"></script>

    <!-- React Components -->
    <!--
    <script src="http://fb.me/react-0.13.3.min.js"></script>
    <script src="https://www.parsecdn.com/js/parse-latest.js"></script>
    <script src="https://www.parsecdn.com/js/parse-react.js"></script>
    <script type="text/javascript" src="js/carmod.js"></script>
    -->

    <script src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/slides.min.jquery.js"></script>
    <link rel="stylesheet" media="screen, projection" href="/stylesheets/screen.css" type="text/css" />
    <link rel="stylesheet" media="print" href="/stylesheets/print.css" type="text/css" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="js/selectivizr-min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="main">
    </div>

    <!-- Templates -->

    <!-- Template for / -->
    <script type="text/template" id="homepage-template">
      <div id="homepage" style="">
        <div class="carbon">
          <header>
            <!-- left -->
            <div id="left">
              
              <div id="slides">
                <div class="slides_container">
                  <img src='/images/cms0.png' class="screenshot" alt="Login with Facebook"/>
                  <img src='/images/cms1.png' class="screenshot" alt="Document your car"/>
                  <img src='/images/cms2.png' class="screenshot" alt="Easily tag parts"/>
                  <img src='/images/cms3.png' class="screenshot" alt="Note the parts on the photo"/>
                  <img src='/images/cms4.png' class="screenshot" alt="Activity Timeline"/>
                  <img src='/images/cms5.png' class="screenshot" alt="Share with friends"/>
                </div>
              </div>

              <img src="images/iPhone5Hand.png" class="frame replace-2x"/>
              <img src="images/Reflection.png" class="reflection replace-2x"/>              
            </div>

            <!-- right -->
            <div id="right">
              <img src="images/appicon-80x80.png"/>
              <img src="images/app-logo@2x.png" class="logo"/>
              <h1>Share your mods, help others.</h1>
              <h2>Document your fixes and changes.</h2>
              <p>Carmod is the easiest way to share your modifications and fixes with friends and forums.  Annotate your pics with part numbers, video, instructions!</p>

              <div class="downloadbutton">
                <a href="https://itunes.apple.com/us/app/veggie-base-pick-best-fruits/id1038615746?mt=8">Until we're ready</a> <img src="images/right_arrow.png"/>
              </div>
            </div>
          </div>
        </header>

        <div class="footer">
          <div id="latest">
          </div>
          <div class="credits">
            <h1>CarMod in early development, please be patient.</h1>
            <h2>Launching in early 2016.</h2>
          </div>
          <div id="copyright">
            Copyright 2015 by Thad, Joe, Chris.
          </div>
        </div>

      </div>
      <!-- end / -->
    </script>

    <script type="text/template" id="latest-photos-template">
      <ul id="photo-list">
      </ul>
    </script>

    <script type="text/template" id="photo-template">
      <div class="photo-thumb">
        <a href="<%= photo_url %>"><img src='<%= photo_image_url %>'/></a>
      </div>
      <div id="reactContent"></div>
    </script>

    <script type="text/template" id="annotation-template">
        <p class="annotation"><%= description %> (<%= x %>,<%= y %>)</p>
    </script>

    <!-- Template used by single photo landing page -->
    <script type="text/template" id="big-photo-template">
      <div id="photo-container">
        <div id="author">
          <div class="avatar">
            <img src='<%= avatar_image_url %>'/>
          </div>
          <h1><%= display_name %></h1>
        </div>
        <div id="bigPhoto">
           <img src='<%= photo_image_url %>' class="photo"/>
        </div>
      </div>
    </script>

    <!-- Template used by /#pic/id -->
    <script type="text/template" id="landing-page-template">
      <div id="landingpage" style="">
        <header>
          <a href="/"><img class="logo" src="/images/app-logo@2x.png"/></a>
          <a href="http://itunes.apple.com/us/app/anypic/id539741538?ls=1&mt=8"><img class="appstore" src="/images/app_store.png"/></a>
        </header>

        <div id="content">
        </div>

        <div class="footer">
          <div class="credits">
            <h1>CarMod in early development, please be patient.</h1>
            <h2>Launching in early 2016.</h2>
          </div>
          <div id="copyright">
            Copyright 2015 by Thad, Joe, Chris.
          </div>
        </div>
      </div>
    </script>

    <!-- Template used by single photo landing page -->
    <script type="text/template" id="spinner-template">
      <img src='images/spinner.gif' class='spinner' />
    </script>

    <!-- Template used by homepage meta data -->
    <script type="text/template" id="meta-homepage-template">
      <meta property="og:type" content="website" /> 
      <meta property="og:title" content="CarMod" />
      <meta property="og:image" content="https://www.carmod.xyz/images/appicon-80x80.png" />
      <meta property="og:description" content="CarMod is the easiest way to share photos with your friends. Get the app and share your fun photos with the world." />
      <meta property="og:url" content="https://www.carmod.xyz">
    </script>

        <!-- Template used by homepage meta data -->
    <script type="text/template" id="meta-landingpage-template">
      <meta property="og:type" content="parseanypic:photo" /> 
      <meta property="og:title" content="Photo on CarMod" />
      <meta property="og:image" content="<%= photo_image_url %>" />
      <meta property="og:description" content="<%= photo_caption %>" /> 
      <meta property="og:url" content="<%= page_url %>">
    </script>

    <script type="text/javascript">
      //ReactDOM.render(React.createElement(StoryBlock, document.getElementById("reactContent")));
    </script>
  </body>
</html>
